hbase.client.host={{getenv "HBASE_CLIENT_HOST"}}
hbase.client.port={{getenv "HBASE_CLIENT_PORT"}}
hbase.zookeeper.znode.parent={{getenv "HBASE_ZOOKEEPER_ZNODE_PARENT"}}
hbase.ipc.client.tcpnodelay={{getenv "HBASE_IPC_CLIENT_TCPNODEDELAY"}}
hbase.rpc.timeout={{getenv "HBASE_RPC_TIMEOUT"}}
hbase.client.operation.timeout={{getenv "HBASE_CLIENT_OPERATION_TIMEOUT"}}
hbase.ipc.client.socket.timeout.read={{getenv "HBASE_IPC_CLIENT_SOCKET_TIMEOUT_READ"}}
hbase.ipc.client.socket.timeout.write={{getenv "HBASE_IPC_CLIENT_SOCKET_TIMEOUT_WRITE"}}
hbase.client.thread.max={{getenv "HBASE_CLIENT_THREAD_MAX"}}
hbase.client.threadPool.queueSize={{getenv "HBASE_CLIENT_THREADPOOL_QUEUESIZE"}}
hbase.client.threadPool.prestart={{getenv "HBASE_CLIENT_THREADPOOL_PRESTART"}}
hbase.client.parallel.scan.enable={{getenv "HBASE_CLIENT_PARALLEL_SCAN_ENABLE"}}
hbase.client.parallel.scan.maxthreads={{getenv "HBASE_CLIENT_PARALLEL_SCAN_MAXTHREADS"}}
hbase.client.parallel.scan.maxthreadsperscan={{getenv "HBASE_CLIENT_PARALLEL_SCAN_MAXTHREADSPERSCAN"}}
