cluster.enable={{getenv "CLUSTER_ENABLE"}}
cluster.web.tcp.port={{getenv "CLUSTER_WEB_TCP_PORT"}}
cluster.zookeeper.address={{getenv "CLUSTER_ZOOKEEPER_ADDRESS"}}
cluster.zookeeper.sessiontimeout={{getenv "CLUSTER_ZOOKEEPER_SESSIONTIMEOUT"}}
cluster.zookeeper.retry.interval={{getenv "CLUSTER_ZOOKEEPER_RETRY_INTERVAL"}}
cluster.connect.address={{getenv "CLUSTER_CONNECT_ADDRESS"}}
admin.password={{getenv "ADMIN_PASSWORD"}}
config.sendUsage={{getenv "CONFIG_SENDUSAGE"}}
config.editUserInfo={{getenv "CONFIG_EDITUSERINFO"}}
config.openSource={{getenv "CONFIG_OPENSOURCE"}}
config.show.activeThread={{getenv "CONFIG_SHOW_ACTIVETHREAD"}}
config.show.activeThreadDump={{getenv "CONFIG_SHOW_ACTIVETHREADDUMP"}}
config.show.inspector.dataSource={{getenv "CONFIG_SHOW_INSPECTOR_DATASOURCE"}}
config.enable.activeThreadDump={{getenv "CONFIG_ENABLE_ACTIVETHREADDUMP"}}
web.hbase.selectSpans.limit={{getenv "WEB_SELECTSPANS_LIMIT"}}
web.hbase.selectAllSpans.limit={{getenv "WEB_SELECTALLSPANS_LIMIT"}}
web.activethread.activeAgent.duration.days={{getenv "WEB_ACTIVETHREAD_ACTIVEAGENT_DURATION_DAYS"}}
web.span.format.compatibility.version={{getenv "WEB_SPAN_FORMAT_COMPATIBILITY_VERSION"}}
web.stat.format.compatibility.version={{getenv "WEB_STAT_FORMAT_COMPATIBILITY_VERSION"}}
